body  {
    background-image: url("background1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}

.block-dessus {
    background-color: #E6E6E6;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 20px;
    padding: 10px;
}

nav {
    top: 100px;
    left: -20px;
    position: fixed;
}

nav ul {
    list-style-type: none;
    float: left;
}

nav button {
    background-color: #FE9A2E;
    border: none;
    color: white;
    padding: 10px 24px;
    border: 2px solid #FE9A2E;
    border-radius: 8px;
    width: 70%;
    margin-bottom: 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

nav button:hover {
    background-color: #FFFFFF;
    color: black;
    border: 2px solid #FE9A2E;
}